.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.cmp-matrix{
  color: var(--background-color);
  text-align: center;

}

.cmp-cardimage{
  color: var(--background-color);
}


div.section.columns-container{
  background: var(--link-color);
}

div.columns.cmp-cardimage.block p:nth-child(1){
  font-size: 3rem;
  color: red;
}


