/* block specific CSS goes here */

main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}
  
main .hero {
  position: relative;
  padding: 150px;
  min-height: 300px;
}

main .hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

main .hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cmp-hero{
  text-align: left;
  font-weight: bold;
}

div.hero.cmp-hero.block p:nth-child(2){
  font-size: var(--heading-font-size-xxl);
  font-weight: 500;
  margin-bottom: 30px;
}

div.hero.cmp-hero.block p:nth-child(3), div.hero.cmp-hero.block p:nth-child(4){
  font-size: var(--body-font-size-m);
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 768px){
  main .hero {
    position: relative;
    padding: 68px;
    min-height: 300px;
  }
}
